#appliance_wrap {
	height: 694px;
	overflow: hidden;
	background: #f5f5f5;
}


/* 家电集合 */

.jd_list {
	float: left;
}

.jd_left {
	float: left;
	width: 234px;
	height: 614px;
}

.jd_left li {
	width: 234px;
	height: 300px;
}

.jd_left li:first-child {
	margin-bottom: 14px;
}

.jd_left li a {
	display: block;
	width: 234px;
	height: 300px;
}

.jd_left a img {
	width: 234px;
	height: 300px;
}

.jd_right {
	width: 992px;
	height: 614px;
	float: left;
}

.jd_right ul li {
	width: 234px;
	height: 300px;
	float: left;
	padding: 20px 15px;
	box-sizing: border-box;
	margin-left: 14px;
	margin-bottom: 14px;
	background: #fff;
}

.jd_right ul li a {
	display: block;
	/* width:194px; */
	height: 260px;
}

.jd_right ul li a img {
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto;
}

.jd_right ul li h3 {
	font-size: 14px;
	color: #333;
	text-align: center;
	line-height: 22px;
	margin-top: 16px;
}

.jd_right ul li p:nth-of-type(1) {
	color: #b0b7cc;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
}

.jd_right ul li p:nth-of-type(2) {
	color: #ff6700;
	font-size: 14px;
	text-align: center;
	margin-top: 12px;
}

.jd_right ul li p:nth-of-type(2) s {
	color: #b0b0b0;
	margin-left: 5px;
}

.jd_right ul li:last-child {
	background: #f5f5f5;
	padding: 0;
}

.jd_li_t {
	width: 234px;
	height: 143px;
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
}

.jd_li_t a {
	display: block;
	height: 143px;
	margin-top: 20px;
	margin-left: 20px;
}

.jd_li_t a p {
	float: left;
	line-height: 26px;
}

.jd_li_t a p span:first-child {
	font-size: 14px;
	color: #333;
	line-height: 22px;
	text-align: left;
}

.jd_li_t a p span:last-child {
	color: #ff6700;
	font-size: 14px;
	margin-top: 12px;
	text-align: left;
	margin-top: 13px;
}

.jd_li_t img {
	width: 80px;
	height: 80px;
	float: right;
}

#appliance_wrap .jd_li_t a img {
	width: 80px;
	height: 80px;
	float: right;
}

.jd_li_b {
	width: 234px;
	height: 143px;
	margin-top: 14px;
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
}

.jd_li_b a {
	display: block;
}

.jd_li_b a h4 {
	float: left;
	font-size: 18px;
	color: #333;
	text-align: left;
	margin-top: 30px;
}

.jd_li_b a h4 span {
	/* float: left; */
	font-size: 12px;
	color: #757575;
	text-align: left;
}

.jd_li_b a i {
	float: right;
	font-size: 50px;
	color: #ff6700;
	margin-top: 30px;
}

.review-item {
	position: relative;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	background: #fff;
	transition: all .2s linear;
}

.review-item:hover {
	z-index: 2;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
	transform: translate3d(0, -2px, 0);
}

.review-wrapper a {
	margin-top: 20px;
	background: #FF6700;
	text-align: center;
	color: #fff;
}

.review-wrapper {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 234px;
	height: 80px;
	overflow: hidden;
	_zoom: 1;
	font-size: 12px;
	opacity: 0.9;
	font-size: 14px;
	display: none;
}

@keyframes span2 {
	0% {
		height: 0;
		opacity: 0;
	}
	100% {
		height: 80px;
		opacity: 0.9;
	}
}

.review-item:hover .review-wrapper {
	animation: span2 .2s linear;
	display: block;
}

.review {
	margin-bottom: 5px;
	font-size: 16px;
	color: #fff;
}

.review-wrapper a .author {
	color: rgba(255, 255, 255, 0.6);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	_zoom: 1;
}